/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
/* .home-wrapper{
  margin: 0;
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  background-color: #f0f0f0;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url("") no-repeat center center fixed;
  background-size: cover;
  
  background-color: rgba(
    255,
    255,
    255,
    0.5
  ); 
  background-blend-mode: overlay;
}
.p1{
  color: rgb(15, 179, 15);
}
.p3{
  align-items: end;
}
.home-container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

header {
  background: #222;
  color: #fff;
  padding: 20px 0;
  border-bottom: #28a745 3px solid;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  transition: background 0.5s, box-shadow 0.5s;
}

header:hover {
  background: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

header h1 {
  float: left;
  margin: 0;
  text-transform: uppercase;
  font-size: 24px;
}

header nav {
  float: right;
  margin-top: 10px;
}

header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

header nav ul li {
  display: inline;
  margin-left: 20px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 10px;
  transition: background 0.3s, color 0.3s;
}

header nav ul li a:hover {
  background: #28a745;
  color: #fff;
  border-radius: 5px;
} */